/* Make the styles to create the same look as shown in class */

body{
    font-family: arial;
}


.title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form{
    display: block;
   
   
}
input {
    display: block;
    border-radius: 4px;
    width: 100%;
    margin: 10px;
    font-size: 15px;
}
.loginButton{
    width: 100%;
    background-color: green;
    font-family: arial;
    color: white;
    border-radius: 4px;
    display: block;
    height: 25px;
    margin-bottom: 5px;
    
}
input{
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 25px;
}
.forgot{
    font-size: 15px;
    margin: 10px;
}