.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header-container {
  flex: 0 1 auto;
}

.content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: rgb(233, 232, 232);
  padding: 20px 50px;
}

.footer-container {
  flex: 0 1 40px;
}
