body {
    background-color: pink;
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
}

ol {
    list-style: none;
    text-align: center;
}

li  {
    text-align: center;
}

h1  {
    text-align: center;
}

.a href {
    text-align: center;
}

.container  {

}