:global {
    body {
      margin: 10%;
      margin-top: 1%;
      margin-bottom:1%;
      margin-right:10%;
      margin-left:10%;
      padding: 0;
      font-family: sans-serif;
      height: 60%;
      align-content: center;
      justify-content: center;
    }
  
    #root {
      height: 100%;
      width: 100%;
      max-width: 1440px; 
      max-height: 1131.44px;
    }
    #button {
        padding: 3px 3px;
        font-size: 15px;
        text-align: center;
        margin: 5px 1px;
        margin-left: 8in;
        margin-right: 20px;
        cursor: pointer;
        outline: none;
        outline-color: #ddd;
        color: lightgreen;
        background-color:white;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0px #999;
      }

      #button a{
          float: left;
          text-align: left;
          padding: 14px 16px;
          font-size: 15px;
          margin: 20px 1px;
          margin-left: 20px;
          margin-right: 20px;
          color: lightgreen;
      }
      
      #button:hover {background-color: #ddd;
      }
      #button:active {
        background-color: #3e8e41;
        border-color:greenyellow;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

#Goft{
    float: left;
    background-color: inherit;
  }
  
  #logopic{
    height: 60px;
    width: auto;
  }
  
  #topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  #topnav a {
    float: right;
    color: #000000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  
  #topnav a.active {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

}
  