:global {
  body {
    margin: 10%;
    padding: 0;
    font-family: sans-serif;
    height: 80%;
    width: 80%;
    display: feFuncA;
    align-content: center;
    justify-content: center;
  }

  #root {
    height: 100%;
    width: 100%;
    max-width: 1440px; 
    max-height: 1161px;
  }
  #Sign-up {
    margin: 100px;
    display: inline;
    overflow: none;
    position: right;
    background-color: #ddd;
    font-size: 30px;
    color:black;
    text-decoration: black;
  }

  #Sign-up a {
    text-align: right;
    float: right;
    flex-flow:column;
    color: #000000;
    text-align: right;
    padding: 14px;
    text-decoration: teal;
  }
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: inline;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  #navbar {
    text-align: right;
    display:inline-flex;
    position: right;
    overflow: hidden;
    background-color: inherit;
  }
  
  #navbar a {
    float: right;
    color: #000000;
    text-align: right;
    padding: 14px;
    text-decoration: blue;
  }


}
