:global {
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #root {
    height: 100%;
    width: 100%;
    max-width: 1440px; 
    max-height: 1161px;
  }
}
