{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions",  "> 5%", "ie >= 10"],
        "node": "current"
      }
    }],
    "stage-2", "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-runtime"
  ]
}
